# Node.js dependencies
node_modules/

# Build directories and files
dist/
build/
*.log
*.out
*.tmp

# IDEs and editor directories
.vscode/
.idea/

# Operating system-specific files
.DS_Store           # macOS
Thumbs.db           # Windows

# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.egg-info

# Java-specific
*.class
*.jar
*.war
*.ear
target/

# Visual Studio Code workspace settings
*.code-workspace

# Log files
*.log

# Docker-related files
docker-compose.override.yml
Dockerfile*

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# Ruby specific
*.gem
*.rbc
.bundle/
.config/
coverage/
spec/reports/
test/tmp/


# JavaScript/TypeScript build directories
out/
build/
coverage/

# .env files
.env
.env.local
.env.production
.env.test

# Other common files to ignore
*.swp                 # Vim swap files
*.swo                 # Vim swap files
.idea/                # JetBrains IDEs like PhpStorm, WebStorm
.vscode/              # VS Code settings

# Ignoring all .bak files (backup files)
*.bak

# Ignore specific directories in project
/aksandbeyond/
/devsecops/

.gradle